


$primary: #212529;
$secondary: #F2F3F5;
$dark: #212529;
$main-green: #025028;
$info: #e2e3e5;

html, body, #root {
    height: 100vh
}

@import 'bootstrap/scss/bootstrap.scss';
@import 'bootstrap/scss/variables.scss';


.c-dark {
    color: $dark;
}
.c-low {
    color: #555;
}
.c-main {
    color: $main-green;
}
.btn-arrow {
    @extend .btn-secondary;
    padding: 1rem;
}
.btn-arrow:hover, .btn-arrow:focus, .btn-arrow:active {
    background-color: #e2e3e5;
}

.form-control:focus, .form-control:active {
    outline: none !important;
    box-shadow: 0 0 2px  $dark !important;    
    
 }
.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none !important;
 }
 .input-group-lg > .form-control{
    border-radius: .25rem;
}

.btn-outline-secondary {
    color: $dark;
}

.btn, .iconFade {
    transition: color 0.5s cubic-bezier(0.65, 0.05, 0.36, 1), 
                background-color 0.5s ease-in-out, 
                border-color 0.5s ease-in-out, 
                box-shadow 0.5s ease-in-out;
}
.main {
    max-width: 992px;
    margin: auto; 
    @extend .px-3;
}
.account {
    max-width: 576px;
    height: 100%;
}
.input-group-text{
    background-color: $gray-200;
}

input, .thick-btn {
    padding: 1rem !important;
}

.form-group {
    padding-bottom: 2rem !important;
}


.navbar-brand{
    font-size: 2.5rem !important;
    //padding-top: 0;
    //padding-bottom: 0;
    margin: 0 !important;
}

img{
    width:100%;
}


body{ margin:0 auto; }

.container-fluid {
    padding-left: 0;
    padding-right:0;
}
.bg-main {
    background-color: #025028;
}
