


$offcanvas-horizontal-width:  100%;
$offcanvas-transition-duration: .4s;
$primary: black;

@import 'bootstrap/scss/bootstrap.scss';

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }
.main {
    max-width: 800px;
    margin: $spacer auto; 
    float: none;
    
}

label {
    font-size: 1rem;

}

input:-webkit-autofill { 
    -webkit-background-clip: text;
}